{% extends "frontend/layout.html" %}
{% block header %}
{% include "frontend/navbar.html" %}
{% endblock %}

{% block main %}

 <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/static/img/pyweb-back.jpg');"></div>
                <div class="carousel-caption">
                    <h2 style="font-weight: 900;">Python ORM Framework</h2>
                    <img src="/static/img/pyweb.png" style="height: 180px;width:350px:">
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/static/img/mgt.jpg');"></div>
                <div class="carousel-caption" style="margin-bottom: 20px;">
                    <h2 style="font-weight: 900;">Project Management System</h2>
                    <h1 style="color: #7E5673;font-weight: 900; font-size: 80px"><i class="fa fa-fire"></i> Inferno Projects</h1>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

    <!-- Page Content -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
{% endblock %}
