html, body, #wrapwrap {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

#wrapwrap {
  display: table;
  table-layout: fixed;
  width: 100%;
}
#wrapwrap > * {
  display: table-row;
}
#wrapwrap > main {
  height: 100%;
}
#wrapwrap > header > .navbar{
  margin-bottom: 0px;
}

.mt0{
    margin-top: 0px;
}
#wrapwrap > footer {
  height: 100%;
  background: rgba(200, 200, 200, 0.1);
}

/*@media (min-width: 767px) {
  nav.navbar + #wrapwrap {
    padding-top: 34px;
  }
}*/
main{
    background: #E5E5E5;
    height: 100%;
}

#wrapwrap > main  .project_login_container{
  width: 400px;
  margin: 40px auto;
  background: #fff;
  box-shadow: 2px 2px 2px 0px rgba(5,5,5,0.06);
  border: 1px solid #DFDDDD;
  border-top: 4px solid #008CBA;
  padding: 15px;
}
#wrapwrap > main.login_back{
  background-image: url('/static/img/login_back.jpg');
      background-size: cover;
}