{% extends "frontend/layout.html" %}
{% block assets %}
<script src="static/js/frontend/bg_scroll.js"></script>
{% endblock %}

{% set main_class = 'bg_pattern' %}
{% block header %}
    
{% endblock %}

{% block main %}
  <div class="project_login_container">
        <h3 class="text-center f_thin mt0">Sign in</h3>
        <form class="project_login_form flotting_form" method="POST" action="/login">
            {{ form.hidden_tag() }}
            <div class="form-group {{ form.email.errors and 'mb32 has-error'}}">
                <label class="control-label text-primary" for="LoginUserName">Email</label>
                {% if form.email.errors %}
                    <span class="help-block floatting">{{ form.email.errors[0] }} </span>
                {% endif %}
                {{ form.email(size=20, **{'class': 'form-control', 'id': 'LoginUserName', 'required':'true'}) }}
            </div>
            <div class="form-group {{ form.password.errors and 'mb32 has-error'}}">
                <label class="control-label text-primary" for="LoginPassword">Password</label>
                {% if form.password.errors %}
                    <span class="help-block floatting">{{ form.password.errors[0] }} </span>
                {% endif %}
                {{ form.password(size=20, **{'type':'password', 'class': 'form-control', 'id': 'LoginPassword'}) }}
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>

        <div class="row mt16">
            <div class="col-xs-6">
                <a class="no_decoration" href="/sign_up">New Account</a>
            </div>
            <div class="col-xs-6">
                <a class="no_decoration pull-right" href="/forgot_password" class="pull-right">Forgot Password</a>
            </div>
        </div>
        <hr/>
        <a class="btn btn-default btn-block btn-lg google_login_icon" href="/google_login">
            <img class="img img-responsive" src="/static/img/google_logo.png"/>
            <span class="login_text"> Sign in With Google</span>
        </a>
  </div>
{% endblock %}