<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/custom.css">
    <link rel="stylesheet" href="static/libs/font_awesome/css/font-awesome.css">
    <script src="static/libs/jquery/jquery.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/bootstrap.js"></script>
</head>
<body>
    <div id="wrapwrap">
        <header>
          {% block header %}
          {% endblock %}
        </header>
        {% if main_class %}
          <main class="{{main_class}}">
        {% endif %}
        {% if not main_class %}
          <main>
        {% endif %}
          {% block main %}
          {% endblock %}
        </main>
        <footer>
          {% block footer %}
          {% endblock %}
        </footer>
    </div>
</body>
</html>