<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "assets_frontend.html" %}
    {% block assets %}
    {% endblock %}
</head>
<body>
    <div id="wrapwrap">
        <header>
            {% if disable_nav is not defined %}
                {% include "navbar.html" %}
            {% endif %}
            {% block header %}
            {% endblock %}
        </header>
        <main class="{{main_class or ''}}">
          {% block main %}

          {% endblock %}
        </main>
        <footer>
          {% block footer %}
          {% endblock %}
        </footer>
    </div>
</body>
</html>