<link rel="stylesheet" href="/static/css/bootstrap.css">
<script src="/static/libs/jquery/jquery.js"></script>
<script src="/static/libs/form-master/jquery.form.js"></script>
<script src="/static/libs/underscore/underscore.js"></script>
<script src="/static/libs/underscore.string/lib/underscore.string.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/backend/modal_common.js"></script>
<script src="/static/libs/jQuery-Autocomplete/jquery.autocomplete.js"></script>
<script src="/static/js/backend/backend.js"></script>
<script src="/static/js/backend/create_project.js"></script>
<script src="/static/libs/moment/moment-with-locales.min.js"></script>
<script src="/static/libs/bootstrap-datetimepicker/bootstrap_datetimepicker.js"></script>
