{% import 'backend/macros.html' as macros %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><span class="model_title_icon"><i class="fa fa-key"></i> </span> Chanege Password</h4>
            </div>
                <form class="change_password_form flotting_form_backend" method="POST" action="/change_password">
                    {{ form.hidden_tag() }}
                    <div class="modal-body">
                            <div class="form-group {{ form.current_password.errors and 'mb32 has-error'}}">
                                <label class="control-label text-primary" for="LoginUserName">Current Password</label>
                                {{ form.current_password(size=40, **{'class': 'form-control', 'required':'true'}) }}
                                    {% if form.current_password.errors %}
                                        <span class="help-block floatting">{{ form.current_password.errors[0] }} </span>
                                     {% endif %}
                            </div>
                            <div class="form-group {{ form.password.errors and 'mb32 has-error'}}">
                                <label class="control-label text-primary" for="LoginUserName">New Password</label>
                                {{ form.password(size=40, **{'class': 'form-control', 'required':'true'}) }}
                                {% if form.password.errors %}
                                        <span class="help-block floatting">{{ form.password.errors[0] }} </span>
                                {% endif %}
                            </div>
                            <div class="form-group {{ form.password_cmp.errors and 'mb32 has-error'}}">
                                <label class="control-label text-primary" for="LoginUserName">Current Password</label>
                                {{ form.password_cmp(size=40, **{'class': 'form-control', 'required':'true'}) }}
                                {% if form.password_cmp.errors %}
                                        <span class="help-block floatting">{{ form.password_cmp.errors[0] }} </span>
                                {% endif %}
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary pull-left">Change password</button>
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    </div>
                </form>
        </div>
    </div>
</div>